<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom mb-1">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="assets/images/hammer.jpg" alt="">
    </a>
    <div class="text-center w-100 px-3 mx-1 border-end border-start flex-grow-1 flex-shrink-1">
      <h2>The Auctioneer</h2>
      <p class="text-end">Offered to you by:<br>Oscar Wellner</p>
    </div>
    <a href="#" class="navbar-brand">
      <img src="assets/images/clock.jpg" alt="">
    </a>
  </div>
</nav>
