<section class="d-flex">
  <form class="col-2 pe-2" id="left-column">
    <label class="h4 mb-4" for="auction-date-picker">Pick a date:</label>
    <br>
    <input type="date" id="auction-date-picker" class="form-control mb-4">
    <h4>Pick a category:</h4>
    <ul>
      <li>
        <a href="#">Antiques</a>
      </li>
      <li>
        <a href="#">Cars</a>
      </li>
      <li>
        <a href="#">Event Tickets</a>
      </li>
      <li>
        <a href="#">Holidays</a>
      </li>
      <li>
        <a href="#">Collectables</a>
      </li>
    </ul>
  </form>
  <div class="flex-grow-1 flex-shrink-1 pe-2" id="middle-column">
    <h4>Auctions that exprire today:</h4>
    <div class="d-flex flex-wrap">
      <a href="#">
        <img src="assets/images/auction/rallytruck.jpg" alt="">
      </a>
      <a href="#">
        <img src="assets/images/auction/ticket.jpeg" alt="">
      </a>
      <a href="#">
        <img src="assets/images/auction/books.jpeg" alt="">
      </a>
      <a href="#">
        <img src="assets/images/auction/lamp.jpg" alt="">
      </a>
      <a href="#">
        <img src="assets/images/auction/car.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-3" id="right-column">
    <h4>Original Race Truck Paris-Dakar</h4>
    <p>
      A unique object for sale! The truck of team 'Gerard De Rooy' that has competed in the Paris-Dakar race of 2017
      and finished at 3<sup>rd</sup> position. The truck will be delivered inclusive of some &euro; 10.000,- worth of spare parts.
    </p>
    <p>
      <strong>Engine:</strong> IVECO Cusor, 13 Liter
    </p>
    <p>
      <strong>Power:</strong> 900 HP, 4x4 transmission
    </p>
    <br>
    <p>
      <strong>Highest Bid:</strong> &euro; 87.000,-
    </p>
    <p>
      <strong>Auction closes at 18:00 GMT today!</strong>
    </p>
  </div>
</section>
