<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom border-top mb-3">
  <div class="container-fluid">
    <button
      class="navbar-toggler align-self-end"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-content"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">My Offers</a>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
          >
            My Bids
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="dropdown-item">Active</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">History</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">My Account</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-primary">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

