<section>
  <h3>Overview of all offered articles</h3>
  <div class="d-flex justify-content-between">
    <div>
      <div class="table-responsive-md">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr class="table-primary">
              <th scope="col">Offer Title</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offer of offers">
              <td scope="row" (click)="onSelectOffer(offer.id)" [class.table-info]="selectedOfferId === offer.id">
                {{ offer.title }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="button" (click)="onAddOffer()">Add Offer</button>
      </div>
    </div>
    <auc-detail3 class="mx-4 flex-grow-1 flex-shrink-1" [(editedOfferId)]="selectedOfferId"></auc-detail3>
  </div>
</section>
